.addReadMore.showlesscontent .SecSec,
.addReadMore.showlesscontent .readLess {
    display: none;
}

.addReadMore.showmorecontent .readMore {
    display: none;
}

.addReadMore .readMore,
.addReadMore .readLess {
    font-weight: bold;
    margin-left: 2px;
    color: #000;
    cursor: pointer;
}

.addReadMoreWrapTxt.showmorecontent .SecSec,
.addReadMoreWrapTxt.showmorecontent .readLess {
    display: block;
}
.crumb{
    margin-left: 18px;
    margin-bottom:26px ;
}
.book-title{
    font-size: 28px;
    font-weight: 600;
}
.book-author{
    color: #8f8f8f;
    font-weight: 600;
    letter-spacing: 1.4px;
    font-size: 22px;
}
form{
    margin-left: 28px;
    margin-top: 18px;
}
.rating-star {
    direction: rtl;
    font-size: 35px;
    unicode-bidi: bidi-override;
    display: inline-block;
}
.rating-star input {
    opacity: 0;
    position: relative;
    left: -30px;
    z-index: 2;
    cursor: pointer;
    margin-left: 20px;
}
.rating-star span.star:before {
    color: #777777;
}
.rating-star span.star {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    position: relative;
    z-index: 1;
}
.rating-star span {
    margin-left: -30px;
}
.rating-star span.star:before {
    color: #777777;
    content:"\f006";
}
.rating-star input:hover + span.star:before, .rating-star input:hover + span.star ~ span.star:before, .rating-star input:checked + span.star:before, .rating-star input:checked + span.star ~ span.star:before {
    color: #ffd100;
    content:"\f005";
}

.selected-rating{
    color: #ffd100;
    font-weight: bold;
    font-size: 16px;
    margin-left: -20px;
}
.sypnosis{
    font-size: 24px;
}
.right-sec{
    border: 1px solid rgb(201, 199, 199);
    width: 250px;
    height: 300px;
}
.right-sec h5{
    font-size: 24px;
    font-weight: 600;
}
.right-sec p{
    margin-top: 62px;
    text-align: center;
    font-size: 15px;
}
.download{
    padding: 6px 76px;
    margin: 10px 0;
    font-size: 15px;
}
.favorites{
    padding: 7px 54px;
    font-size: 15px;
}
.more-by .card{
    background-color: #fff;
}
