{% extends 'layout-admin.html' %}
{% load static %}
{% block title %}
<title>Admin-Dashboard</title>
{% endblock %}
{% block main_content %}

<div class="container">
    <h1 style="text-align:center">Admin Dashboard</h1> <br>
    {% include 'messages.html' %}
    <div class="row">
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Total Books</div>
                <div class="card-body bg-secondary">
                    <a href="/pickbook/get_books">
                        <h1 class="card-title text-center">{{books}}</h1></a>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Total Genres</div>
                <div class="card-body bg-secondary">
                    <a href="/pickabook/get_category"><h1 class="card-title text-center">{{category}}</h1>
                    </a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-white bg-dark mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Total Quotes</div>
                <div class="card-body bg-secondary">
                    <a href="/pickabook/get_quote"><h1 class="card-title text-center">{{quote}}</h1>
                    </a>
                </div>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="max-width: 35rem;">
                <div class="card-header text-center">Total Users</div>
                <div class="card-body bg-secondary">
                    <a href="/admins/users"><h1 class="card-title text-center">{{user}}</h1></a>
                </div>
                </div>
            </div>
        <div class="col">
            <div class="card text-white mb-3" style="max-width: 35rem;">
                <div class="card-header text-center bg-dark">Total Admins</div>
                <div class="card-body bg-secondary">
                    <a href="/admins/admins"> <h1 class="card-title text-center">{{admin}}</h1>
                    </a>
                </div>
                </div>
            </div>
        </div>
        </div>



{% endblock %}